@import (reference) '~nav-frontend-core/less/_variabler';

.repos {
    &__headline {
        margin-top: 5rem;
        margin-bottom: 1rem;
        width: 1200px;
        display: flex;
    }
    &__logo {
        width: 24px;
        height: 24px;
        padding-right: 16px;
    }
    &__filters {
        margin-bottom: 2rem;
    }
    &__input {
        margin-bottom: 0.5rem;
        display: flex;
        position: relative;
        align-items: flex-end;
    }
    &__checkboxes {
        display: flex;
    }
    &--rightMargin {
        margin-right: 0.5rem;
    }

    &__sokButton {
        border-radius: 0 5px 5px 0;
        position: absolute;
        right: 0;
    }
    &__sokInput {
        .skjemaelement__input {
            padding-right: 8rem;
        }
        width: 100%;
    }
    &__scroller {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__spinner {
        align-self: center;
    }
    &__tags {
        font-size: 0.875rem;
        margin-right: 6px;
        padding: 0px 4px !important;
        &--private {
            background-color: @navOransjeLighten20 !important;
            border: 1px solid @navOransjeDarken40 !important;
        }
        &--size {
            background-color: @navBlaLighten80!important;
            border: 1px solid @navBlaLighten20!important;
        }
        &--subs {
            background-color: @navLillaLighten60!important;
            border: 1px solid @navLilla!important;
        }
        &--lang {
            background-color: @navLimeGronnLighten60!important;
            border: 1px solid @navLimeGronnDarken20!important;
        }
        &--icon {
            margin-bottom: -0.125rem;
            margin-left: 0.25rem;
        }
    }
}
