@import (css) '~@material/layout-grid/dist/mdc.layout-grid.css';

.main {
    margin-top: 50px;
    max-width: 1200px;
    height: 100%;
    background-color: #fefefe;
    margin: auto;

    &__data {
        margin-top: 50px;
    }
}
