
.results {
    
    &__headline {
        display: flex;
        flex-direction: row;
    }

    &__data {
        margin-top: 30px;
    }

    &__logo {
        height: 24px;
        padding-right: 10px;
    }
}