.filter {
    &__headline {
        width: 1200px;
        display: flex;
    }
    &__preset {
        margin-left: auto;
        .skjemaelement__label {
            display: inline;
            margin-right: 16px;
        }
    }
    &__logo {
        height: 24px;
        padding-right: 16px;
    }
    &__version {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    &__options {
        display: flex;
        align-items: flex-end;
    }
    &__knapp {
        margin-left: 16px;
    }
}
